<html>
	<body>
		<STYLE TYPE='text/css'> <!-- BODY { color:#F0F8FF; background-color:#56C9CC; font-family:sans-serif; } A:link{color:white} A:visited{color:yellow} --> </STYLE>

<!--Upon a redirect, create a message notifying the user of a successful action performed-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href="{{url_for('newComp')}}">List a new company here</a>

<h1>Companies:</h1>

{% for c in company %}
<div>
<h2>
{{c.name}}
</h2>
<a href="{{url_for('compItems', compID=c.compID)}}">Items</a></br>
<a href="{{url_for('editComp', compID=c.compID)}}">Edit</a></br> 
<a href="{{url_for('deleteComp', compID=c.compID)}}">Delete</a></br>
</br>
</div>
{% endfor %}

</body>

</html>
