{% extends "main.html" %}
{% block content %}

<!--  -->
<!-- <div>

{% for e in events%}
{{e.name}}
{% endfor %}
 -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Domains</h3>
      <ul class="list-unstyled">
        {% if logged_in %}
		  <div class="media">
		    <a href="{{url_for('newDom')}}">
		      <i class="glyphicon glyphicon-plus"></i>
		      New realm of life
		    </a>
  		{% endif %}	
      {% for d in domain %}
      <br>
        <h2><li><a href="{{url_for('domevents', domID=d.domID)}}">{{d.name}}</a></li></h2>

	    <div class="media">
	    	<a href="{{url_for('domevents', domID=d.domID)}}">
		      <i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;
		      See stars
		    </a>
		</div>

	  {% if logged_in %}
	    <div class="media">
	    <a href="{{url_for('editDom', domID=d.domID)}}">
	      <i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;
	      Edit Domain
	    </a>
	  </div>
	  <div class="media">
	    <a href="{{url_for('deleteDom', domID=d.domID)}}">
	      <i class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;
	      Delete Domain
	    </a>
	  </div>
	  <div class="media">
	    <a href="{{url_for('newevent', domID=d.domID)}}">
	      <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;
	      Add some stars!
	    </a>
	  </div>
	  {% endif %}
      {% endfor %}
      </ul>
    </div> 
   </div>
</div>



{% endblock %}
